.navbar {
    background-color: rgb(41, 63, 124);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    font-size: 20px;
    margin-right: 100px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}